{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <img src=
    "{% static 'images/header-logo.png' %}" 
    alt="The Dog Collector Logo" />
    <link
  rel="shortcut icon"
  type="image/png"
  href="{% static 'images/splash.png' %}"
/> 
    <title>Dog Collector</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <div class="header-logo-container">
         <a href="/">
          <img src="" alt="The Dog Collector Logo" />
        </a>
      </div>
      <nav>
        <ul>
            <li><a href="{% url 'dog-index' %}">All Dogs</a></li>
            <li><a href="{% url 'dog-create' %}">Add a Dog</a></li>
            <li><a href="{% url 'about' %}">About</a></li>            
        </ul>
      </nav>
    </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>

